## Environment ##
NODE_ENV=development

## Server ##
PORT=4000
HOST=localhost
TOKEN_KEY=

## Trakt.tv ##
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TRAKT_REDIRECT_URI=http://localhost:4000/users/trakt_redirect
TVDB_API_KEY=
TVDB_USERNAME=
TVDB_USERKEY=

## TMDB ##
TMDB_KEY=

## Fanart ##
FANART_KEY=

## Database ##
DB_USER = postgres
DB_PASSWORD = 1070
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = binge


## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE
